# Mac
'.platform-darwin atom-text-editor':
  'ctrl-alt-s': 'switch-header-source:switch'

# Linux (at least Ubuntu) needs a different shortcut, as ctrl-alt-s is not captured
'.platform-linux atom-text-editor, .platform-win32 atom-text-editor':
  'alt-o': 'switch-header-source:switch'
